<!DOCTYPE html>
<html>
    <head>
        <title>Add Goal</title>
        <style>

            input, select{
              align: center;
              width: 100%;
              padding: 10px 18px;
              margin: 10px 0;
              background-color: white;
              display: block;
              border: 2px solid blue;
              border-radius: 5px;
              box-sizing: border-box;
            }

            div {
                width : 75%;
                margin: auto;
                display : block;
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
            }

            input[type=submit] {
                width : 75%;
                align : center;
                background-color: navy;
                color: white;
                padding: 16px 32px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <h2><a href="{% url 'charlesmaryayoscrumy:home' %}">Home </a> <a href="{% url 'charlesmaryayoscrumy:logout' %}">Logout</a></h2>
        <p>Currrent User: {{ request.user }}</p>
        <p>Groups: {{ request.user.groups.first }}</p><br>

        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" name="submit" value="Submit"></p>
            </form>
        </div>
    </body>
</html>