<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <style>
         input[type=text]{
              width: 100%;
              padding: 10px 18px;
              margin: 10px 0;
              background-color: lightblue;
              display: block;
              border: 2px solid blue;
              border-radius: 5px;
              box-sizing: border-box;
            }
         input[type = email]{
              width: 100%;
              padding: 10px 18px;
              margin: 10px 0;
              background-color: lightblue;
              display: block;
              border: 2px solid blue;
              border-radius: 5px;
              box-sizing: border-box;
            }
            
            input[type=submit] {
              width: 100%;
              background-color: navy;
              color: white;
              padding: 16px 32px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
            
            input[type=submit]:hover {
              background-color: lightblue;
            }
            
            div {
                width: 100%;
              padding: 10px 18px;
              margin: 10px 0;
              border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
              display: inline-block;
              box-sizing: border-box;
            }
        </style>
    </head>
    <body>
    <div>
        <form action = "" method = "POST">
            {% csrf_token %}
            {{ form.as_p}}
            <input type = "submit" name = "submit" value = "Submit" />
        </form>
    </div>
    </body>
</html>