<!DOCTYPE html>
<html>
    <head>
        <style>
            input[type=text] {
              width: 100%;
              padding: 10px 18px;
              margin: 10px 0;
              background-color: lightblue;
              display: block;
              border: 2px solid blue;
              border-radius: 5px;
              box-sizing: border-box;
            }
            
            input[type=submit] {
              width: 100%;
              background-color: navy;
              color: white;
              padding: 16px 32px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
            
            input[type=submit]:hover {
              background-color: lightblue;
            }
            
            div {
              border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
            }
        </style>
    </head>
    <body>
      <h2><a href="{% url 'charlesmaryayoscrumy:home' %}">Home </a> <a href="{% url 'charlesmaryayoscrumy:logout' %}">Logout</a></h2>
      <p>Currrent User: {{ request.user }}</p>
      <p>Groups: {{ request.user.groups.first }}</p><br>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <p>Move to:</p><br>
                {{ form.as_p }}
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </body>
</html>