<!DOCTYPE html>
<html>
<head>
<style>
            input[type=text]{
              width: 100%;
              padding: 10px 18px;
              margin: 10px 0;
              background-color: lightblue;
              display: block;
              border: 2px solid blue;
              border-radius: 5px;
              box-sizing: border-box;
            }
            input[type=password]{
              width: 100%;
              padding: 10px 18px;
              margin: 10px 0;
              background-color: lightblue;
              display: block;
              border: 2px solid blue;
              border-radius: 5px;
              box-sizing: border-box;
            }
            
            input[type=submit] {
              width: 100%;
              background-color: navy;
              color: white;
              padding: 16px 32px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
            
            input[type=submit]:hover {
              background-color: lightblue;
            }
            
            div {
              border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
            }
</style>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

<br />
<a href = "{% url 'charlesmaryayoscrumy:index'%}">Index</a>
<br />
<div>
<form action = "" method = "POST">
    {% csrf_token %}
    <p>Username: <input type = "text" name = "username" id = "username"/></p>
    <p>Password: <input type = "password" name = "password" id = "password"/></p>
    <p><input type = "submit" name = "submit" id = "submit"/></p>
    {% if form.errors %}
        <p>{{form.errors}}</p>
    {% endif %}
</form>
</div>
</body>
</html>